*	{margin:0px;padding:0px;}

#container {
	display: table;
}
#row  {
	display: table-row;
}

#left, #right {
	display: table-cell;
	width: 50%;
}

/*
 * body	{background:white; color:white;margin-left:20px; margin-right:20px;}
*/
span.record {
	font-size: 12px;
	padding: 0;
	margin: 0;
	background: #EFEFEF;
	border: 1px solid #AAA;
	line-height: 20px; /*--Height of each line of code--*/
	width: 610px;
	overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
	overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
	white-space: pre-wrap;
	/*white-space: pre;*/
	font-family: monospace;
	display: block;
}
span.leader {
	color: green;
}
span.tag {
	font: bold;
	color: gray;
	padding-right:20px
}
span.indicators {
	color: blue;
}
span.code {
	color: red;
	font: bold;
}
span.data {
}
     
pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
